@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.App {
  text-align: left;
  color: #007888;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
}


.App-header {
  background-color: whiite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 25px;
}

.App-link {
  color: #61dafb;
}

.container{
  width: 100vw;
  
}

.col{
  display: flex;
  justify-content: flex-start;
  padding: 50px;
  flex-direction:column;
}

.invoiceList:hover{
  cursor: pointer;
  color: #F68A20;
}

.invoiceDetailsRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
